* {
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(imagens/fluminense--pintura_7528_1280x960.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: auto;
}

header {
    background-image: linear-gradient(to left, #00804f, rgb(228, 228, 228), #9e2321);
    background-attachment: fixed;
    text-align: center;
    border-radius: 30px;
    width: 90vw;
    min-height: 20vh;
    max-height: 48vh;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
}

h1 {
    padding-top: 40px;
    font-size: 2.4em;

}

div.container {
    display: block;

}

ul {
    display: block;
    padding: 25px;

}

li {
    display: inline;
    padding: 10px;
    font-size: 2em;
    margin: 0px 45px 10px;

}

div.container>ul>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container>ul>li>a:hover {
    background-color: #831d1c;
    border: 2px solid rgb(88, 88, 88);

}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 3px;
    margin: auto;
    width: 80vw;
    padding: 20px;

}

h1 {
    text-align: center;
    padding: 25px;
}

#história {
    text-align: justify;
    font-size: 1.2em;
}

#nome {
    text-align: justify;
    font-size: 1.2em;
}

#títulos {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    display: inline-block;
    position: relative
}

th {
    background-color: lightgray;
    border: 1px groove black;
    padding: 20px;
}

td {
    border: 1px groove black;
    padding: 20px;
}

#escudos {
    text-align: center;
}
footer{
    background-color: #831d1c;
    color: gold;
}